<% content_for :nav do %>
  <%= render :nav %>
<% end %>

<div class="row mb-2">
  <h1 class="text-center">
    <% if @author.jjwxc_id %>
      <%= link_to @author.full_display, @author.jjwxc_link, target: "_blank" %>
    <% else %>
      <%= @author.full_display %>
    <% end %>
  </h1>
</div>

<div class="list-group">
  <% @author.books.each do |book| %>
    <%= render partial: 'list_group_item', locals: { book:, include_buttons: false } %>
  <% end %>
</div>


<div class="row">
  <div class="col-auto">
    <%= link_to "Edit", edit_author_path, class: %w[btn btn-primary] %>
  </div>
</div>
