<% content_for :nav do %>
  <%= render 'chapters/nav_top' %>
<% end %>
<h1>Clean chapter <%= @corrupt_chapter.ch_number %></h1>
<div class="row">
  <h2 class="mb-1">
    Excerpt
    <small class="text-muted"><%= @corrupt_chapter.percent %>% <%= @current_char.occurrences %> occurrences</small>
  </h2>
</div>
<div class="row">
  <div class="col-md-6 mb-1">
    <%= simple_format(@excerpt, sanitize: false) %>
  </div>
  <div class="col-md-6 mb-3">
    <div class="container-fluid">
      <%= nice_form_with model: [@book, @corrupt_chapter], url: book_corrupt_chapter_path do |form| %>
        <div class="row justify-content-between mb-1">
          <div class="col-auto">
            <div class="hstack">
                <span class="text-primary text-nowrap">Last replaced:
                  <strong><%= @corrupt_chapter.prev_char&.correct_char || 'none' %></strong></span>
              <% if @corrupt_chapter.can_undo? %>
                <%= form.submit "Undo", {
                  formaction: undo_book_corrupt_chapter_path,
                  class: 'form-control btn btn-secondary clipboard-btn mx-2',
                  'data-clipboard-action' => "copy",
                  'data-clipboard-text' => @corrupt_chapter.prev_char&.og_bytes,
                } %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <% end %>
            </div>
          </div>
          <div class="col-auto">
            <%= button_to "Abort", @corrupt_chapter, method: :delete, class: "btn btn-danger" %>
            <%= copy_text_button(@current_char.og_bytes, label_text: 'Copy bytes', classes: %w[btn-info]) %>
          </div>
        </div>

        <div class="progress mb-1">
          <div class="progress-bar bg-info"  role="progressbar"
               style="width: <%= number_to_percentage(@corrupt_chapter.progress_percent, precision: 0) %>"
               aria-valuenow="<%= @corrupt_chapter.progress_percent.round %>" aria-valuemin="0" aria-valuemax="100">
            <%= @corrupt_chapter.corrupt_chars.index %>/<%= @corrupt_chapter.corrupt_chars.length %>
          </div>
        </div>
        <%# TODO: #24 use same font as jjwxc (see C# version) %>
        <div class="d-flex flex-wrap">
          <% @corrupt_chapter.possible_replacements.each do |char| %>
            <%= submit_tag char, class: 'btn btn-outline-info clipboard-btn',
                           'data-clipboard-action' => "copy",
                           'data-clipboard-text' => @corrupt_chapter.next_bytes %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
