<% content_for :nav do %>
  <%= render 'chapters/nav_top' %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "clean-chapter" %>
<% end %>
<% content_for :head do %>
  <% if @font_file %>
    <style>
        @font-face {
            font-family: "Font from JJWXC";
            src: url("<%= @font_file %>");
        }
    </style>
  <% end %>
<% end %>
<h1>Clean chapter <%= @corrupt_chapter.ch_number %></h1>
<% unless @font_file %>
  <div class="row">
    <h2 class="mb-1">
      Excerpt
      <small class="text-muted"><%= @corrupt_chapter.percent %>% <%= @current_char.occurrences %> occurrences</small>
    </h2>
  </div>
<% end %>
<div class="row">
  <% unless @font_file %>
    <%= render 'excerpt' %>
  <% end %>
  <%= nice_form_with model: [@book, @corrupt_chapter], url: book_corrupt_chapter_path do |form| %>
    <div class="col-12 mb-3">
      <div class="container-fluid">
        <div class="row justify-content-between mb-1">
          <div class="col-auto">
            <%= render partial: 'previous', locals: { form: } %>
          </div>
          <div class="col-auto">
            <%= form.button "Abort", formmethod: :delete, data: { turbo: false }, class: "btn btn-danger" %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token(form_options: { method: :delete }) %>
            <%= copy_text_button(@current_char.og_bytes, label_text: 'Copy bytes', classes: %w[btn-info]) %>
          </div>
        </div>

        <%= render 'progress' %>

      </div>
    </div>
    <div class="row flex-grow-1 align-content-md-center justify-content-md-center">
      <div class="col-md-6">
        <div class="row">
          <% if @font_file %>
            <div class="row my-1">
              <div class="h2 text-center">

                <span class="corrupt-char"><%= @current_char.og_bytes %></span>
                <span class="px-1">&mdash;</span><%= @current_char.occurrences %> occurrences:
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="d-flex flex-wrap">
            <%= render 'characters' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
