<%= nice_form_with model: @book do |form| %>
  <div class="container">
    <div class="row justify-content-start mb-2">
      <div class="col-md-6">
        <%= form.floating_label_text_field :og_title, "Original title", {}, {class: %w(mb-3)} %>
      </div>

      <div class="col-md-6">
        <%= form.floating_label_text_field :tl_title, 'Translated title', {}, {class: %w(mb-3)} %>
      </div>
      <div class="col-md-3">
        <%= form.floating_label_text_field :author_cn_name, 'Author', {}, {class: %w(mb-3)} %>
      </div>
      <div class="col-md-3">
        <%= form.floating_label_text_field :short_name, 'Abbreviation', {style: 'text-transform: uppercase'}, {class: %w(mb-3)} %>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <%= form.floating_label_text_area :description, 'Description', {style: 'height: 200px'}, {class: %w(mb-3)} %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-auto">
        <%= form.submit class: 'form-control btn btn-primary'%>
      </div>
    </div>
  </div>
<% end %>
