<div class="list-group-item list-group-item-action">
  <div class="row">
    <%= link_to book, class: 'col text-reset text-decoration-none' do %>
      <div class="d-flex justify-content-between align-items-center ">
        <%= book.tl_title %>

        <% status_class = "bg-#{book.status_class}" %>
        <span class="badge <%= status_class %>"><%= book.overall_status %>: <%= book.translation_progress %></span>

      </div>
      <div class="progress mt-1" style="height: 1px">
        <%= render partial: 'progress_bar', locals: { book: } %>
      </div>
    <% end %>
    <% if local_assigns[:include_buttons] %>
      <div class="col-auto mh-100 m-n2 py-0 justify-content-between">
        <%= link_to book.next_clean_link,
                    class: %w[col-auto mh-100 p-0 justify-content-center text-decoration-none],
                    style: "height:100%",
                    target: "_blank",
                    rel: "noreferrer" do %>
          <i class="bi bi-plus-square-fill text-<%= book.status_class %> text-decoration-none py-0" style="font-size: 40px; line-height: 40px"
          data-bs-toggle="tooltip" data-bs-placement="left" title="Add chapter from JJWXC"></i>
        <% end %>
        <% link_classes = %w[col-auto mh-100 py-0 justify-content-center] %>
        <% link_classes.push("invisible") unless book.latest_chapter_number > book.latest_tl_ch_number %>

        <%= link_to edit_book_chapter_path(book, book.latest_tl_ch_number + 1),
                    class: link_classes, style: "height:100%" do %>
          <i class="bi bi-translate text-<%= book.status_class %> py-0" style="font-size: 40px; line-height: 40px"
          data-bs-toggle="tooltip" data-bs-placement="left" title="Translate next chapter"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
