<h1>Books</h1>

<ul class="nav nav-tabs" id="bookListTab" role="tablist">
  <% BooksController::CATEGORIES.each do |cat_symbol, _| %>
    <%= tab cat_symbol.to_s, selected: cat_symbol == BooksController::DEFAULT_CATEGORY %>
  <% end %>
</ul>

<div class="tab-content mb-2" id="bookListTabContent">
  <% BooksController::CATEGORIES.each do |cat_symbol, statuses| %>
    <%= tab_pane cat_symbol.to_s, selected: cat_symbol == BooksController::DEFAULT_CATEGORY  do %>
      <% if statuses.blank? %>
        <% tab_books = @books %>
      <% else %>
        <% tab_books = @books.select { |book| statuses.include?(book.overall_status) } %>
      <% end %>
      <div class="list-group">
        <% tab_books.each do |book| %>
          <%= render partial: 'list_group_item', locals: { book:, include_buttons: cat_symbol == :current } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-auto">
    <%= link_to "Add Book", new_book_path, class: %w[btn btn-info]%>
  </div>
  <div class="col-auto">
    <%= button_to "Download Backup", backup_generate_path, method: :post, class: %w[btn btn-dark], form: { data: { turbo: false } } %>
  </div>
</div>
<%# TODO: #18 make these cards instead, at least in wide screens %>

