<div class="container px-2">
  <h1>Books</h1>

  <%# TODO: #18 make these cards instead, at least in wide screens %>
  <div class="list-group">
    <% @books.each do |book| %>
        <% classes = "list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-#{book.status_class}" %>
        <a href="<%= book_path(book) %>" class="<%= classes %>">
          <%= book.tl_title %>
          <span class="badge bg-<%= book.status_class %>"><%= book.overall_status %></span>
        </a>
    <% end %>
    <%= link_to "Add Book", new_book_path, class: %w[list-group-item list-group-item-action]%>


  </div>
  <ul>
  </ul>

</div>
