
<%# TODO: #18 make these cards instead, at least in wide screens %>
<div class="list-group">
  <% @books.each do |book| %>
    <% classes = "list-group-item list-group-item-action" %>
    <a href="<%= book_path(book) %>" class="<%= classes %>">
      <div class="d-flex justify-content-between align-items-center">
        <%= book.tl_title %>
        <span class="badge bg-<%= book.status_class %>"><%= book.overall_status %>: <%= book.translation_progress %></span>

      </div>
      <div class="progress mt-1" style="height: 1px">
        <div class="progress-bar bg-<%= book.status_class %>" role="progressbar"
             style="width: <%= number_to_percentage(book.translation_progress_percent, precision: 0) %>"
             aria-valuenow="<%= book.translation_progress_percent.round %>" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </a>
  <% end %>
  <%= link_to "Add Book", new_book_path, class: %w[list-group-item list-group-item-action list-group-item-info]%>


</div>

