<% content_for :nav do %>
  <%= render 'chapters/nav_top' %>
<% end %>
<div class="row mb-2">
  <h1 class="text-center"><%= @book.tl_title %></h1>
  <h2 class="text-muted text-center">
    <% if @book.jjwxc_id.present?%>
      <%= link_to @book.og_title, @book.jjwxc_url, target: "_blank" %>
    <% else %>
      <%= @book.og_title %>
    <% end %></h2>
  <h2 class="text-muted text-center"><small>By: <%= @book.author.og_name %></small></h2>
</div>
<p class="text-center pt-2"><%= @book.translation_progress %> Chapters Translated, <%= @book.overall_status %></p>
<div class="progress mt-n3 mb-2">
  <%= render partial: 'progress_bar', locals: { book: @book } %>
</div>
<div class="row mb-2">
  <div class="col-lg-8">
    <p><%= simple_format(@book.description) %></p>
  </div>
  <div class="col-lg-4">
    <div class="card" style="height: 75vh; overflow-y: auto">
      <div class="card-header">Chapters</div>
      <%# TODO: #19 add subtitles to chapter display, at least on wide screens %>
      <div class="list-group list-group-flush">
        <% if @book.latest_chapter.present? %>
          <%= link_to "Clean chapter", new_book_corrupt_chapter_path(@book), class: "list-group-item list-group-item-action list-group-item-info" %>
          <div class="list-group-item disabled">Latest Chapter:</div>
          <% chapter = @book.latest_chapter %>
          <% classes = "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to chapter.pretty_title, book_chapter_path(@book, chapter), class: classes %>
          <div class="list-group-item disabled">All Chapters:</div>
        <% end %>
        <% @chapters.each_with_index do |chapter, i| %>
          <% classes = "list-group-item list-group-item-action" %>
          <%= link_to chapter.pretty_title, book_chapter_path(@book, chapter), class: classes %>
        <% end %>
        <% corrupt_id = corrupt_chapter_id(@book.new_chapter_number) %>
        <% maybe_chapter = Rails.cache.read(corrupt_id) if corrupt_id %>
        <%= link_to "Clean chapter", new_book_corrupt_chapter_path(@book), class: "list-group-item list-group-item-action list-group-item-info" %>
        <% if maybe_chapter %>
          <%= link_to "Resume cleaning chapter", edit_book_corrupt_chapter_path(@book, corrupt_id), class: "list-group-item list-group-item-action list-group-item-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-auto">
    <%= button_to "Delete Book", @book, method: :delete, class: "btn btn-danger", form: { data: {
      turbo_confirm: "Are you sure you want to delete #{@book.tl_title}? This will also delete #{@chapters.size} chapter(s) and cannot be undone"
    } } %>
  </div>

  <div class="col-auto">
    <%= button_to "Download Backup", backup_book_path(@book), method: :post, class: %w[btn btn-dark], form: { data: { turbo: false } } %>
  </div>

  <div class="col-auto">
    <%= link_to "All Books", root_path, class: %w[btn btn-info] %>
  </div>
  <div class="col-auto">
    <%= link_to "Edit", edit_book_path, class: %w[btn btn-primary] %>
  </div>
</div>
