<%= nice_form_with model: [book, chapter], url: [book, chapter], id: 'chapter_create_edit_form', builder: NiceFormBuilder do |form| %>
  <div class="row justify-content-start mb-2">
    <div class="col">
      <%= form.ch_number_field class: %w(mb-3) %>
    </div>

    <div class="col-auto d-md-none mb-3 align-self-center">
      <button type=button class="btn btn-outline-info toggle-button" data-bs-toggle="collapse"
              data-bs-target="#subtitle_fields" aria-expanded="false" aria-controls="subtitle_fields">
        Add subtitle
      </button>
    </div>

    <div class="col-md-5">
      <%= form.floating_label_text_field :og_title, "Original title", class: %w(mb-3) %>
    </div>

    <div class="col-md-5">
      <%= form.floating_label_text_field :tl_title, 'Translated title', {class: %w(mb-3)} %>
    </div>
  </div>
  <div class="row mb-2 collapse d-md-flex" id="subtitle_fields">
    <div class="col-md-6">
      <%= form.copy_paste_float_text_field :og_subtitle, 'Chinese subtitle', {class: %w(mb-3)}  %>
    </div>
    <div class="col-md-6">
      <%= form.copy_paste_float_text_field :tl_subtitle, 'Translated subtitle', {class: %w(mb-3)}  %>
    </div>
  </div>
  <div class="row mb-2">
    <div class = "col-md mb-1">
      <div class="row mb-1 justify-content-between">
        <div class="col-auto">
          <%= form.label :og_text_data, "Chinese Text" %>
        </div>
        <div class="col-auto">
          <%= copy_paste_group form.hash_id(:og_text_data), btn_classes: %w(btn-sm)%>
        </div>

      </div>
      <div style="max-height: 60vh; height: 400px">
        <%= form.text_area :og_text_data, {class: 'form-control h-100'} %>
      </div>
    </div>

    <div class="col-md mb-1">
      <div class="mb-1 row justify-content-between">
        <div class="col-auto">
          <%= form.label :tl_text_data, "Translated Text" %>
        </div>
        <div class="col-auto">
          <%= copy_paste_group form.hash_id(:tl_text_data), btn_classes: %w(btn-sm) %>
        </div>
      </div>
      <div style="max-height: 60vh; height: 400px">
        <%= form.text_area :tl_text_data, {class: 'form-control h-100'}%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <% if action_name == 'new' %>
        <%= form.submit class: 'form-control btn btn-success' %>
      <% else %>
        <div class="btn-group" role="group" aria-label="save buttons">
          <%= form.submit 'Save', class: 'form-control btn btn-success pe-2', name: 'save' %>
          <%= form.submit '& continue', class: 'form-control btn btn-primary px-2', name: 'save' %>
          <%= form.submit '& next', class: 'form-control btn btn-info ps-2', name: 'save' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
