<%= form_with model: [book, chapter], url: [book, chapter], id: 'chapter_create_edit_form' do |form| %>
  <div class="container">
    <div class="row justify-content-start mb-2">
      <div class="col-md">
        <div class="form-floating mb-3">
          <%= form.number_field :ch_number, {step: 1, class: 'form-control', placeholder: 0} %>
          <%= form.label :ch_number, "Chapter number" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-floating mb-3">
          <%= form.text_field :og_title, {class: 'form-control', placeholder: 'Chinese title'} %>
          <%= form.label :og_title, "Original title" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-floating mb-3">
          <%= form.text_field :tl_title, {class: 'form-control', placeholder: 'English title'} %>
          <%= form.label :tl_title, "Translated title" %>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class = "col-md mb-1">
        <div class="row mb-1 justify-content-between">
          <div class="col-auto">
            <%= form.label :og_text_data, "Chinese Text" %>
          </div>
          <div class="col-auto">
            <div class="clipboard-btn btn btn-sm btn-info" data-clipboard-action="copy" data-clipboard-target="#chapter_og_text_data">
              Copy chinese text
            </div>
          </div>

        </div>
        <%= form.text_area :og_text_data, {class: 'form-control', rows: 20} %>
      </div>

      <div class="col-md mb-1">
        <div class="mb-1 row">
          <div class="col-auto">
        <%= form.label :tl_text_data, "Translated Text" %>
          </div>
          <div class="col-auto">
            <div class="btn btn-sm invisible">placeholder</div>
          </div>
        </div>
        <%= form.text_area :tl_text_data, {class: 'form-control', rows: 20 }%>
      </div>
    </div>

    <div class="row">
      <div class="col-auto">
        <%= form.submit class: 'form-control btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
